<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>坐标</title>
	<style>
		body {
			margin: 0;
		}

		canvas {
			display: block;
			outline: 1px solid red;
		}
	</style>
</head>
<body>
<canvas id="canvas"></canvas>
latitude-x;
longitude-y;
<script title="数据">

	//  四个角落的坐标
    const corner = (function () {
        return {
            topLeft: {
                longitude: unescape("39%B058'29.22\""),
                latitude: unescape("116%B018'39.46\""),
            },
            topRight: {
                longitude: unescape("39%B058'29.46\""),
                latitude: unescape("116%B027'2.84\""),
            },
            bottomLeft: {
                longitude: unescape("39%B051'39.75\""),
                latitude: unescape("116%B018'37.64\""),
            },
            bottomRight: {
                longitude: unescape("39%B051'36.63\""),
                latitude: unescape("116%B027'1.63\""),
            }
        }
    }());
    let northernLatitude = Math.cos(Math.PI * (39.9012361111111 / 180));
    // northernLatitude = 1;
    console.log('当前纬度下,每个经度相当于  ' + northernLatitude + '  个纬度');

    //  中国农大
    // const ChinaAgriculturalUniversityPoints = {
    //     longitude: unescape("40%B00'16.96\""),
    //     latitude: unescape("116%B021'7.49\""),
    // }
    //  天安门
    // const ChinaAgriculturalUniversityPoints = {
    //     longitude: unescape("39%B054'9.32\""),
    //     latitude: unescape("116%B023'30.84\""),
    // }
    //  北京站
    // const ChinaAgriculturalUniversityPoints = {
    //     longitude: unescape("39%B054'5.44\""),
    //     latitude: unescape("116%B025'15.82\""),
    // }
     // 北京东站
    // const ChinaAgriculturalUniversityPoints = {
    //     longitude: unescape("39%B054'5.79\""),
    //     latitude: unescape("116%B028'45.16\""),
    // }

    //  北师大
    const ChinaAgriculturalUniversityPoints = {
        longitude: unescape("39%B057'33.09\""),
        latitude: unescape("116%B021'37.14\""),
    }
</script>
<script title="工具类">
    //  将绝对坐标转为小数点的度数    --- 转换细节           👌👌
    function transformRadioToFloat(radio) {
        let degreesArr = radio.split('°');
        let degrees = Number(degreesArr[0]);
        let minuteArr = degreesArr[1].split('\'');
        let minutes = Number(minuteArr[0]);
        let secondArr = minuteArr[1].split('.');
        let seconds = Number(secondArr[0]);
        let dotS = Number(secondArr[1].slice(0, -1));
        return degrees + minutes / 60 + seconds / 60 / 60 + dotS / 60 / 60 / 100;
    }


    //  转换全部数据                                  👌👌          !!!!!!!         x northernLatitude
    function transformOriginData(originData) {
        const _data = {};
        for (let key in originData) {
            if (originData.hasOwnProperty(key)) {
                _data[key] = {
                    longitude: transformRadioToFloat(originData[key].longitude),
                    latitude: transformRadioToFloat(originData[key].latitude) * northernLatitude
                }
            }
        }
        return _data;
    }

    //  获取笛卡尔坐标系的绝对差值                           👌👌
    function getDiffer(x1, y1, x2, y2) {
        return Math.sqrt(Math.pow(x2 - x1, 2) + Math.pow(y2 - y1, 2));
    }

    //  求两点连线的方程
    function getK_B(x1, y1, x2, y2) {
        let k = (y2 - y1) / (x2 - x1);
        let b = y1 - k * x1;
        return {
            k: k,
            b: b
        }
    }

    //  已知,x,y,k,求一元一次方程的b
    function get_B(x, y, k) {
        return y - k * x;
    }

    //  联立方程,求焦点坐标
    function getFocalCoordinates(a1, b1, a2, b2) {
        let x = (b2 - b1) / (a1 - a2);
        let y = a1 * x + b1;
        return {x: x, y: y};
    }

    //  将经纬度坐标系单位长度转为canvas坐标系的单位长度
    function transformLongitudeAndLatitudeToCartesianCoordinateSystem(x) {
        return x * getRatio;
    }

</script>
<script>

    let canvas = document.getElementById('canvas');
    let ctx = canvas.getContext('2d');
    canvas.width = window.innerWidth;
    //  单位经纬度坐标系长度相当于n个像素的比例,是一个很大的数
    let getRatio = 0;
    let image = new Image();
    image.onload = function () {
        canvas.height = window.innerWidth * this.height / this.width;
        drawMap();
        //  corner转为经纬度数值的结果
        const cornerAbs = transformOriginData(corner);
        console.log(JSON.stringify(cornerAbs), cornerAbs);

        let bl = cornerAbs.bottomLeft;
        let br = cornerAbs.bottomRight;
        //  获得底边斜率k, 和b
        let bottomLineParams = getK_B(br.latitude, br.longitude, bl.latitude, bl.longitude);
        console.log('底边', bottomLineParams);
        let tl = cornerAbs.topLeft;
        //  获得左边斜率k,和b
        let leftLineParams = getK_B(tl.latitude, tl.longitude, bl.latitude, bl.longitude);
        console.log('左边', leftLineParams);

        // 证明坐标系准确性
        (function () {
            //  根据左下角和右下角求底边在canvas坐标系下的长度
            let bottom_differ = getDiffer(bl.latitude, bl.longitude, br.latitude, br.longitude);
            console.log('bottom_differ  :   底边在经纬度坐标下的长度', bottom_differ);
            // let width_rate_bottom    = canvas.width / bottom_differ;
            getRatio = canvas.width / bottom_differ;
            // console.log('width_rate :      每个单位相当于  ** 个像素', width_rate_bottom);
            let left_differ = getDiffer(bl.latitude, bl.longitude, tl.latitude, tl.longitude);
            console.log('left_differ  :   底边在经纬度坐标下的长度', left_differ);
            // let width_rate_left = canvas.height / left_differ;
            // console.log('width_rate_left : 每个单位相当于  ** 个像素', width_rate_left);
            console.log('两边斜率乘积', bottomLineParams.k * leftLineParams.k)

             // 测试
            testDraw(bottom_differ, left_differ);
        }());

        //  中国农大坐标
        (function () {
            let _cAUP = {
                longitude: transformRadioToFloat(ChinaAgriculturalUniversityPoints.longitude),
                latitude: transformRadioToFloat(ChinaAgriculturalUniversityPoints.latitude) * northernLatitude,
            };
            // console.clear();
            console.log('中国农大坐标', _cAUP);


            //  求x坐标
            const _x = (function () {
                //  中国农大一元一次方程的 b
                let _k = -1 / bottomLineParams.k;
                let b = get_B(_cAUP.latitude, _cAUP.longitude, _k);
                //  中国农大在经纬度坐标系下与底边的焦点坐标
                let focalCoordinates = getFocalCoordinates(_k, b, bottomLineParams.k, bottomLineParams.b);
                focalCoordinates.latitude = focalCoordinates.x;
                focalCoordinates.longitude = focalCoordinates.y;
                delete focalCoordinates.x;
                delete focalCoordinates.y;

                //  获得中国农大关于canvas坐标系底边焦点  的经纬度坐标
                console.log('获得中国农大关于canvas坐标系底边焦点 的 经纬度坐标', focalCoordinates);

                //  求得这个a点与左下角点的绝对长度差,这个点是中国农大的在canvas坐标系下 的 实际的 x
                let bottom_diff = getDiffer(bl.latitude, bl.longitude, focalCoordinates.latitude, focalCoordinates.longitude);
                console.log('实际的 x', bottom_diff);
                return bottom_diff;
            }());

            //  求y坐标
            const _y = (function () {
                //  中国农大一元一次方程的 b
                let _k = -1 / leftLineParams.k;
                let b = get_B(_cAUP.latitude, _cAUP.longitude, _k);
                //  中国农大在经纬度坐标系下与左的焦点坐标
                let focalCoordinates = getFocalCoordinates(_k, b, leftLineParams.k, leftLineParams.b);
                focalCoordinates.latitude = focalCoordinates.x;
                focalCoordinates.longitude = focalCoordinates.y;
                delete focalCoordinates.x;
                delete focalCoordinates.y;
                //  获得中国农大关于canvas坐标系底边焦点  的经纬度坐标
                console.log('获得中国农大关于canvas坐标系底边焦点 的 经纬度坐标', focalCoordinates);

                //  求得这个a点与左下角点的绝对长度差,这个点是中国农大的在canvas坐标系下 的 实际的 y
                let left_diff = getDiffer(bl.latitude, bl.longitude, focalCoordinates.latitude, focalCoordinates.longitude);
                console.log('实际的 y', left_diff);
                return left_diff;
            }());

            //  中国农大x坐标点
            drawMarker({
                x: transformLongitudeAndLatitudeToCartesianCoordinateSystem(_x),
                y: transformLongitudeAndLatitudeToCartesianCoordinateSystem(_y)
            });
        }());
    };
    image.src = '../libs/img/map-forward.jpg';


    //  绘制地图
    function drawMap() {
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
    }


    //  绘制marker
    function drawMarker(point) {
        ctx.beginPath();
        ctx.arc(point.x, canvas.height - point.y, 5, 0, 2 * Math.PI);
        ctx.strokeStyle = 'red';
        ctx.lineWidth = 4;
        ctx.stroke();
        ctx.fillStyle = ' ';
        ctx.fill();
        ctx.closePath();

    }

    //  文字
    function drawText(point) {
        ctx.fillStyle = 'red';
        ctx.font = 'bold 34px Arial';
        ctx.fillText('还!有!谁!', point.x, canvas.height - point.y, 360, 10);
    }


    //  测试
    function testDraw(bottom_differ, left_differ) {
        //  test右下角
        drawMarker({
            x: transformLongitudeAndLatitudeToCartesianCoordinateSystem(bottom_differ),
            y: transformLongitudeAndLatitudeToCartesianCoordinateSystem(0)
        });
        //  test右上角
        drawMarker({
            x: transformLongitudeAndLatitudeToCartesianCoordinateSystem(bottom_differ),
            y: transformLongitudeAndLatitudeToCartesianCoordinateSystem(left_differ)
        });
        //  test左上角
        drawMarker({
            x: transformLongitudeAndLatitudeToCartesianCoordinateSystem(0),
            y: transformLongitudeAndLatitudeToCartesianCoordinateSystem(left_differ)
        });
        //  test左下角
        drawMarker({
            x: transformLongitudeAndLatitudeToCartesianCoordinateSystem(0),
            y: transformLongitudeAndLatitudeToCartesianCoordinateSystem(0)
        });
    }
</script>
</body>
</html>
